.main_title {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
}


.sponsor_div {
	margin-top: 20px;
}

.sponsor_title {
	color: darkgray;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
}

.sponsor {
	color: darkgray;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
}

.upload-email-wrapper {
 	margin-top: 80px;
  	position: relative;
  	overflow: hidden;
  	display: inline-block;
}

.upload-btn-wrapper {
 	margin-top: 20px;
  	position: relative;
  	overflow: hidden;
  	display: inline-block;
}

.email {
	border: 2px solid black;
  	color: black;
  	background-color: white;
  	padding: 8px 20px;
  	border-radius: 8px;
  	font-size: 20px;
  	font-weight: bold;
}
.btn {
  	border: 2px solid black;
  	color: black;
  	background-color: white;
  	padding: 8px 20px;
  	border-radius: 8px;
  	font-size: 20px;
  	font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  	font-size: 100px;
  	position: absolute;
  	left: 0;
  	top: 0;
  	opacity: 0;
}

.upload-btn-wrapper:hover .btn {
	border: 2px solid darkslategray;
  	color: darkslategray;
}

body {
	padding-top: 20px;
}

ul {
	display: inline-block;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

li {
  	float: left;
}

li a {
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  	color: darkslategray;
}
